#skills {
  // position: fixed;
  width: 100vw;
  // margin-top: 8vh;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1vh 0vw 0;
  background-color: lightblue;
  // -webkit-transition: height 1s;
  // -moz-transition: height 1s;
  // -ms-transition: height 1s;
  // -o-transition: height 1s;
  // transition: height 1s;
  @media screen and (min-width: 0px) {
    height: 18vh;
  }
  @media screen and (min-width: 689px) {
    height: 8vh;
  }
  &.hidden {
    background-color: red;
  }
  .skill-set {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 1vw;
    margin: 0 0.75vw 1vh;
    p {
      font-size: 1.4vh;
      padding: 0.5vh 0.5vw;
      margin: 0 0.75vw;
      color: #555;
      &.expertise {
        border-bottom: solid orange 1px;
        font-weight: bold;
      }
    }
  }
}
